@use "../../styles/partials/mixins" as *;

.video-list {
    list-style-type: none;
    padding-inline-start: 0;

    &__title {
        border-top: 1px solid #e1e1e1;
        padding-top: 24px;
        padding-bottom: 16px;
        color: #afafaf;
        margin-block-start: 0;
    }
}

.video-list__item{
    padding-bottom: 16px;
}

.image__container {
    max-width: 200px;
}
.images {
    // height: 150px;
    aspect-ratio: 5/3;
    width: 100%;
    border-radius: 8px;
}

.item__container {
    display: flex;
    // width: 80%;
}

.title__container {
    padding-inline-start: 16px;

    @include tablet {
        width: 30%;
    }
}

.title__paragraph {
    @include tablet {
        font-size: 18px;
    }
}