@use "../../styles/partials/mixins" as *;

.video-list {
    list-style-type: none;
    padding-inline-start: 0;

    &__title {
        border-top: 1px solid #e1e1e1;
        padding-top: 24px;
        padding-bottom: 16px;
        color: #afafaf;
        margin-block-start: 0;

        @include tablet {
            padding-top: 36px;
            padding-bottom: 24px;
            margin-block-end: 0;
        }
    }
}

.video-list__item{
    padding-bottom: 16px;

    @include tablet {
        padding-bottom: 24px;
    }
}

.image__container {
    max-width: 150px;
}
.images {
    aspect-ratio: 5/3;
    width: 90%;
    border-radius: 8px;
}

.item__container {
    display: flex;
}

.title-container {
    // padding-inline-start: 16px;

    @include tablet {
        width: 30%;
    }

    @include desktop {
        width: 40%;
    }

    &__header {
        font-size: 16px;
        margin-block-start: 0;
        margin-block-end: 0;

        @include tablet {
            font-size: 18px;
        }
    }

    &__paragraph {
        margin-block-start: .5rem;
        margin-block-end: 0;

        @include tablet {
            font-size: 18px;
        }
    }
}
