@use '../../styles/partials/mixins' as *;

.main {
background-color: #000000;
aspect-ratio: 16/9;
padding-right: 0;
padding-left: 0;
width: 100%;

@include tablet {
    display: flex;
    justify-content: center;
}
}

.hero-video {
    width: 100%;

    @include tablet {
        width: 90%;
        object-fit: cover;
    }
    @include desktop {
        width: 70%;
    }
}