@use "../../styles/partials/mixins" as *;

.new-comment {
    display: flex;
    justify-content: space-between;

    @include desktop {
        padding-top: 24px;
    }

    &__title {
        padding: 16px 0 16px;
        margin-block-end: 0;
        margin-block-start: 0;

        @include desktop {
            padding: 24px 0 24px;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 85%;

        @include tablet {
            flex-direction: row;
        }

        @include desktop {
            justify-content: space-between;
            width: 90%;
        }
    }

    &__label {
        color: #afafaf;
        font-weight: 700;
        padding-top: 16px;
    }

    &__text {
        border-radius: 0.25rem;
        width: 74vw;
        height: 6rem;
        padding: 0.75rem;
        resize: none;
        background-color: #fafafa;
        border: 1px solid #e1e1e1;
        font-family: "Avenir";
        margin-bottom: 1rem;
        margin-top: 6px;

        @include tablet {
            min-width: 45vw;
            height: 1.5rem;
            padding: 1rem;
            width: 0vw;
        }

        @include desktop {
            min-width: 25vw;
        }
    }

    &__button {
        background-color: #0095FF;
        color: white;
        display: flex;
        width: 78vw;
        justify-content: center;
        padding: 1rem;
        border-radius: 0.25rem;
        border-style: none;
        font-size: 1.125rem;
        font-weight: 700;

        @include tablet {
            min-width: 28vw;
            position: relative;
            top: 36px;
            width: 0vw;
        }

        @include desktop {
            min-width: 16vw;
        }
    }

    &__button:hover {
        background-color:#0065AD ;
    }
}

.button__container {
    position: relative;

    @include tablet {
        display: flex;
        height: 2.5rem;
        align-items: center;
        
    }
}
textarea:focus {
    border: 2px solid #0095FF;
}

::placeholder {
    color: black;
    font-size: 1rem;
}

.add-comment-logo {
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    left: 1rem;

    @include tablet {
        position:absolute;
        top: 2.8rem;
        left: 1rem;
    }
}


.avatar__container {
    transform: translateY(32px);
}

.comment__list {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-end: 0;
}

.comment__item {
    display: flex;
    border-top: 1px solid #e1e1e1;
    padding-top: 24px;
    padding-bottom: 16px;

    @include desktop {
        padding-top: 36px;
        padding-bottom: 24px;
    }
}

.comment__avatar {
    display: flex;
    background-color: #e1e1e1;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.comment__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 16px;

    @include tablet {
        padding-left: 24px;
        width: 100%;
    }
}

.comment__title {
    display: flex;
    justify-content: space-between;
}

.name--bold {
    font-weight: 700;

    @include tablet {
        font-size: 18px;
    }
}

.sub-title--color {
    @include tablet {
        font-size: 18px;
    }
}

.comment__paragraph {
    @include tablet {
        font-size: 18px;
        line-height: 24px;
    }
    
}

.mohan--remove-margin {
    margin-left: 0;

    @include desktop {
        left: 0%;
    }
}