@use '../../styles/partials/mixins' as *;

.video-upload {
    padding: 0 1rem 0;
    border-top: 1px solid #E1E1E1;

    @include tablet {
        padding: 0 2.25rem;
    }

    @include desktop {
        padding: 0 136px;
    }

    &__title {
        @include tablet {
            font-size: 44px;
            padding: 2.25rem 0;
            border-bottom: 1px solid #E1E1E1;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet {
            width: 55%;
        }

        @include desktop {
            width: 40%;
        }
    }

    &__label {
        color: #afafaf;
        padding-bottom: 8px;
        padding-top: 16px;
        font-weight: 700;

        @include tablet {
            padding-top: 1.5rem;
        }

        &--padding {
            padding-top: 24px;
        }
    }

    &__thumbnail {
        width: 100%;
        border-radius: 8px;
        background-color:#E1E1E1 ;
    }

    &__text {
        background-color: #fafafa;
        border-radius: 8px;
        border: 1px solid #E1E1E1;
        height: 36px;
        padding: 0.75rem;

        &--height {
            height: 6rem;
            resize: none;
            margin-bottom: 2rem;
            margin-top: 4px;
            padding: 0.75rem;
            font-family: 'Avenir';
        }
    }

    &__button {
        background-color: #0095FF;
        color: white;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 1rem;
        border-radius: 0.25rem;
        border-style: none;
        font-size: 1.125rem;
        font-weight: 700;
    }
}

.flex-container {
    @include desktop {
        display: flex;
    }
}

.video__form {
    display: flex;
    flex-direction: column;

    @include desktop {
        width: 70%;
        padding-left: 24px;
    }
}

.button {
    @include tablet {
        display: flex;
        justify-content: end;
        border-top: 1px solid #e1e1e1;
        padding-top: 2.25rem;
    }

    &__container {
        position: relative;

        @include tablet {
            width: 30%;
            order: 2;
        }

        @include desktop {
            width: 20%;
        }
    }

}

.cancel-btn {
    display: flex;
    justify-content: center;
    color: #0095FF;
    font-weight: 700;
    padding-top: 25px;

    @include tablet {
        margin-block-start: 0;
        width: 30%;
        padding-top: 0.6rem;
        order: 1;
    }

    @include desktop {
        width: 20%;
    }
}